:root{
    /* Color  */
    --darkgray-color : #282828;
    --orange-color : #F59A23;
    --yellow-color : #FAC700;
    --skyblue-color : #58B1FF;
    --lightpurple-color : #8A94FF;
    --lightblue-color : #84E9F6;
    --wantbtn-color :rgb(238, 15, 101);

    /* Size */
    --movietitle-padding: 8px;
    --infoside-padding : 12px;
    --star-size : 25px;
    --movieline-margin : 470px;
    --movieclass-margin : 300px;

    /* font */
    --font-title : 30px;
    --font-large: 18px;
    --font-lmedium : 16px;
    --font-medium : 14px;
    --font-small : 12px;
}

*{
    padding : 0;
    margin : 0;
}

.MovieSearch_box1{
    width : 100%;    
    height : 350px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 3%;
    /* border: 2px solid var(--darkgray-color); */
}

.movie_high_search_title{
    width : 100%;
    padding : 10px 20px;
    /* border: 2px solid red; */
    font-size : var(--font-large);
    font-weight: bold;
}

.movie_high_search_name > div{
    float : left;
    list-style: none;
}


#img{
    padding : 20px 20px;
}

#img >img{
    display : block;
    /* width : [width of img]; */
    width : 130px;
    height : 200px;
    border : 1px solid black;
}


hr{
    margin-left : 10px;
    margin-right : 10px;
}