.Movie{
    padding-top: 13%;
    color: tomato;
}
.title{

    text-align: left;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bolder;
   
}
.box{
    margin-top: 40px;
    margin-left: 30px;
}
td{
    padding: 8px;
}

hr{
    height: 10px;
    border:0;
    box-shadow: 0 10px 10px -10px #bbb inset;
}
