:root{
    /* Color  */
    --darkgray-color : #282828;
    --orange-color : #F59A23;
    --yellow-color : #FAC700;
    --skyblue-color : #58B1FF;
    --lightpurple-color : #8A94FF;
    --lightblue-color : #84E9F6;
    --wantbtn-color :rgb(238, 15, 101);

    /* Size */
    --movietitle-padding: 8px;
    --infoside-padding : 12px;
    --star-size : 25px;
    --movieline-margin : 470px;
    --movieclass-margin : 300px;

    /* font */
    --font-title : 30px;
    --font-large: 18px;
    --font-lmedium : 16px;
    --font-medium : 14px;
    --font-small : 12px;
}


*{
    padding : 0;
    margin : 0;
}

body{
    /* width : 100%;
    height : 100%; */
    margin : 0;
}

.MovieInfo_Box1{
    /* width : 100%; */
    height : 395px;
    background-color : var(--darkgray-color);
    color : white;
}

/* box1부분 영화 화면 선명도 */
.Movie_Image, #p_t{   
    opacity : 0.5;
}

.MovieInfo_Box2{    
    height : 240px;
    /* border : 2px solid yellow; */
}

.MovieInfo_Box2_1 {
    position : absolute;
    height : 240px;
    width : 970px;
    margin : 0 var(--movieline-margin) ;
    /* border : 2px solid violet; */
}

/* .MoviePoster{
    position : relative;
    top : -40px;
    width : 170px;
    height : 230px;
    background-color: var(--lightpurple-color);
    border : 2px solid black;
} */

.image{
    position : relative;
    width : 168x;
    height : 228px;
    top : -35px;
    border : 1px solid white;
}


.Poster_TitleResult{
    position : absolute;
    top : -34px; 
    left : 180px;
    color : white;
    background : none;
    font-size : var(--font-small);
    list-style : none;
}

.Movie{
    position : absolute;
    /* border: 2px solid red; */
    width : 785px;
    height : 230px; 
    top : 3px;
    left : 175px;
    color : black;
    /* margin : 0 auto; */
}


.Movie > ul {
    position : absolute;
    top : 10px;
    list-style: none;
    padding : 0 10px;
}


#m_t{
    font-size: var(--font-title);
    font-weight : bold;
    
}

#m_g{
    font-size : var(--font-lmedium);
    opacity : 0.65;
}

#m_a{
    position : absolute;
    top : 70px;
    font-weight: bold;
    padding-left : 5px;
}

#m_a > hr {
    margin-left : 0px;
    height: 1px;
    width : 770px;
    border-top: 1px solid #ccc;
}


.btn_want{
    position :absolute;
    width : 250px;
    height : 40px;
    bottom : 25px;
    padding-right : 50px;
    color : white;
    font-size: var(--font-large);
    font-weight: bold;
    background-color: var(--wantbtn-color);
    border-radius: 5px;
    border : none;
}

.updown{
    position : absolute;
    bottom : 25px;
    left: 190px;
    border: 0.01px solid var(--darkgray-color);
    opacity: 0.1;
    width : 0.01px;
    height : 40px;
}

.addmovie{
    position : absolute;
    left: 195px;
    bottom : 20px; 
    padding : var(--infoside-padding);
} 


.MovieInfo_Box3{
    position :relative;
    height: 1000px;
    margin : 0 ;
    padding : 0;
    background-color: rgb(246, 246, 246);
}


.MovieInfo{
    position : absolute;
    width : 970px;
    top : 35px;
    margin : 0 var(--movieline-margin);
    padding : 20px var(--infoside-padding);
    background-color: white;
    border-radius: 7px;
    border: 1px solid #ccc;
}

#info_hr{
    display : block;
    margin : 0 5px;

}

#info_title{
    font-size: var(--font-large);
    font-weight : bold;
    padding : 10px;
}

#info_movie{
    /* border : 1px solid red; */
    padding : 10px 10px;
}



/* 댓글 달기 */
.comment_box{
    display : flex;
    flex-direction : column;
    overflow: auto;
    width : 90%;
    height : 300px;
    padding : 10px;
    margin : 10px; 
    border : 1px solid black;
    list-style: none;
}

.comment_box > li {
    
}

.publish {
    margin-bottom : 30px;
}

.publish input {
    padding : 20px;
    margin : 10px;
    width : 90%;
    border : 1px solid grey;
    border-radius: 5px;
}

.publish button {
    margin-left : 10px;
    width : 50px;
    border-radius: 5px;
}


.comment_box > .list > hr{
    margin-left : 0;
    margin-right : 0;

}